src/main/resources/schemas/wsdl/HsaWsInteraction_3.14.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions name="HsaWsInteraction"
	xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy"
	xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/"
	xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:wsa="http://www.w3.org/2005/08/addressing"
	xmlns:tjs="urn:riv:hsa:HsaWsResponder:3" xmlns:tns="urn:riv:hsa:HsaWs:3"
	targetNamespace="urn:riv:hsa:HsaWs:3">

	<xs:annotation>
		<xs:documentation>
			Tjänsteinteraktionens namn: HsaWs
			Beskrivning: HSA
			WebServices
			Revisioner: 2012-06-19 Version 3.14
			Tjänstedomän: hsa
			Tjänsteinteraktionstyp: Fråga-svar
			RIV Teknisk Anvisning: Basic
			Profile 2.0
			Förvaltas av: Inera AB, HSA-förvaltningen
		</xs:documentation>
	</xs:annotation>

	<wsdl:types>
		<xs:schema>
			<xs:import schemaLocation="../schemas/HsaWsResponder_3.14.xsd"
				namespace="urn:riv:hsa:HsaWsResponder:3" />
		</xs:schema>
		<xs:schema>
			<xs:import schemaLocation="../schemas/ws-addressing-1.0.xsd"
				namespace="http://www.w3.org/2005/08/addressing" />
		</xs:schema>
	</wsdl:types>

	<wsdl:message name="HsawsSimpleLookupRequest">
		<wsdl:documentation>LogicalAddress skall sättas till
			SE165565594230-1000 (o=Sjukvårdsrådgivningen SVR AB,c=SE).
		</wsdl:documentation>
		<wsdl:part name="LogicalAddress" element="wsa:To" />
		<wsdl:part name="Id" element="wsa:MessageID" />
		<wsdl:part name="parameters" element="tjs:HsawsSimpleLookup" />
	</wsdl:message>

	<wsdl:message name="HsawsSimpleLookupResponse">
		<wsdl:part name="parameters" element="tjs:HsawsSimpleLookupResponse" />
	</wsdl:message>

	<wsdl:message name="GetHsaUnitRequest">
		<wsdl:documentation>LogicalAddress skall sättas till
			SE165565594230-1000 (o=Sjukvårdsrådgivningen SVR AB,c=SE).
		</wsdl:documentation>
		<wsdl:part name="LogicalAddress" element="wsa:To" />
		<wsdl:part name="Id" element="wsa:MessageID" />
		<wsdl:part name="parameters" element="tjs:GetHsaUnit" />
	</wsdl:message>

	<wsdl:message name="GetHsaUnitResponse">
		<wsdl:part name="parameters" element="tjs:GetHsaUnitResponse" />
	</wsdl:message>

	<wsdl:message name="GetCareUnitRequest">
		<wsdl:documentation>LogicalAddress skall sättas till
			SE165565594230-1000 (o=Sjukvårdsrådgivningen SVR AB,c=SE).
		</wsdl:documentation>
		<wsdl:part name="LogicalAddress" element="wsa:To" />
		<wsdl:part name="Id" element="wsa:MessageID" />
		<wsdl:part name="parameters" element="tjs:GetCareUnit" />
	</wsdl:message>

	<wsdl:message name="GetCareUnitResponse">
		<wsdl:part name="parameters" element="tjs:GetCareUnitResponse" />
	</wsdl:message>

	<wsdl:message name="HsaWsFault">
		<wsdl:part name="fault" element="tjs:HsaWsFault" />
	</wsdl:message>

	<wsdl:message name="GetMiuForPersonRequest">
		<wsdl:documentation>LogicalAddress skall sättas till
			SE165565594230-1000 (o=Sjukvårdsrådgivningen SVR AB,c=SE).
		</wsdl:documentation>
		<wsdl:part name="LogicalAddress" element="wsa:To" />
		<wsdl:part name="Id" element="wsa:MessageID" />
		<wsdl:part name="parameters" element="tjs:GetMiuForPerson" />
	</wsdl:message>

	<wsdl:message name="GetMiuForPersonResponse">
		<wsdl:part name="parameters" element="tjs:GetMiuForPersonResponse" />
	</wsdl:message>

	<wsdl:message name="GetHospPersonRequest">
		<wsdl:documentation>LogicalAddress skall sättas till
			SE165565594230-1000 (o=Sjukvårdsrådgivningen SVR AB,c=SE).
		</wsdl:documentation>
		<wsdl:part name="LogicalAddress" element="wsa:To" />
		<wsdl:part name="Id" element="wsa:MessageID" />
		<wsdl:part name="parameters" element="tjs:GetHospPerson" />
	</wsdl:message>

	<wsdl:message name="GetHospPersonResponse">
		<wsdl:part name="parameters" element="tjs:GetHospPersonResponse" />
	</wsdl:message>

	<wsdl:message name="VpwGetPublicUnitsRequest">
		<wsdl:documentation>LogicalAddress skall sättas till
			SE165565594230-1000 (o=Sjukvårdsrådgivningen SVR AB,c=SE).
		</wsdl:documentation>
		<wsdl:part name="LogicalAddress" element="wsa:To" />
		<wsdl:part name="Id" element="wsa:MessageID" />
		<wsdl:part name="parameters" element="tjs:VpwGetPublicUnits" />
	</wsdl:message>

	<wsdl:message name="VpwGetPublicUnitsResponse">
		<wsdl:part name="parameters" element="tjs:VpwGetPublicUnitsResponse" />
	</wsdl:message>

	<wsdl:message name="GetPriceUnitsForAuthRequest">
		<wsdl:documentation>LogicalAddress skall sättas till
			SE165565594230-1000 (o=Sjukvårdsrådgivningen SVR AB,c=SE).
		</wsdl:documentation>
		<wsdl:part name="LogicalAddress" element="wsa:To" />
		<wsdl:part name="Id" element="wsa:MessageID" />
		<wsdl:part name="parameters" element="tjs:GetPriceUnitsForAuth" />
	</wsdl:message>

	<wsdl:message name="GetPriceUnitsForAuthResponse">
		<wsdl:part name="parameters" element="tjs:GetPriceUnitsForAuthResponse" />
	</wsdl:message>

	<wsdl:message name="PingRequest">
		<wsdl:documentation>LogicalAddress skall sättas till
			SE165565594230-1000 (o=Sjukvårdsrådgivningen SVR AB,c=SE).
		</wsdl:documentation>
		<wsdl:part name="LogicalAddress" element="wsa:To" />
		<wsdl:part name="Id" element="wsa:MessageID" />
		<wsdl:part name="parameters" element="tjs:Ping" />
	</wsdl:message>

	<wsdl:message name="PingResponse">
		<wsdl:part name="parameters" element="tjs:PingResponse" />
	</wsdl:message>

	<wsdl:message name="IsAuthorizedToSystemRequest">
		<wsdl:documentation>LogicalAddress skall sättas till
			SE165565594230-1000 (o=Sjukvårdsrådgivningen SVR AB,c=SE).
		</wsdl:documentation>
		<wsdl:part name="LogicalAddress" element="wsa:To" />
		<wsdl:part name="Id" element="wsa:MessageID" />
		<wsdl:part name="parameters" element="tjs:IsAuthorizedToSystem" />
	</wsdl:message>

	<wsdl:message name="IsAuthorizedToSystemResponse">
		<wsdl:part name="parameters" element="tjs:IsAuthorizedToSystemResponse" />
	</wsdl:message>

	<wsdl:message name="GetInformationListRequest">
		<wsdl:documentation>LogicalAddress skall sättas till
			SE165565594230-1000 (o=Sjukvårdsrådgivningen SVR AB,c=SE).
		</wsdl:documentation>
		<wsdl:part name="LogicalAddress" element="wsa:To" />
		<wsdl:part name="Id" element="wsa:MessageID" />
		<wsdl:part name="parameters" element="tjs:GetInformationList" />
	</wsdl:message>

	<wsdl:message name="GetInformationListResponse">
		<wsdl:part name="parameters" element="tjs:GetInformationListResponse" />
	</wsdl:message>

	<wsdl:message name="GetCareUnitListRequest">
		<wsdl:documentation>LogicalAddress skall sättas till
			SE165565594230-1000 (o=Sjukvårdsrådgivningen SVR AB,c=SE).
		</wsdl:documentation>
		<wsdl:part name="LogicalAddress" element="wsa:To" />
		<wsdl:part name="Id" element="wsa:MessageID" />
		<wsdl:part name="parameters" element="tjs:GetCareUnitList" />
	</wsdl:message>

	<wsdl:message name="GetCareUnitListResponse">
		<wsdl:part name="parameters" element="tjs:GetCareUnitListResponse"></wsdl:part>
	</wsdl:message>

	<wsdl:message name="GetCareUnitMembersRequest">
		<wsdl:documentation>LogicalAddress skall sättas till
			SE165565594230-1000 (o=Sjukvårdsrådgivningen SVR AB,c=SE).
		</wsdl:documentation>
		<wsdl:part name="LogicalAddress" element="wsa:To" />
		<wsdl:part name="Id" element="wsa:MessageID" />
		<wsdl:part name="parameters" element="tjs:GetCareUnitMembers" />
	</wsdl:message>

	<wsdl:message name="GetCareUnitMembersResponse">
		<wsdl:part name="parameters" element="tjs:GetCareUnitMembersResponse"></wsdl:part>
	</wsdl:message>

	<wsdl:message name="GetHsaPersonRequest">
		<wsdl:documentation>LogicalAddress skall sättas till
			SE165565594230-1000 (o=Sjukvårdsrådgivningen SVR AB,c=SE).
		</wsdl:documentation>
		<wsdl:part name="LogicalAddress" element="wsa:To" />
		<wsdl:part name="Id" element="wsa:MessageID" />
		<wsdl:part name="parameters" element="tjs:GetHsaPerson" />
	</wsdl:message>

	<wsdl:message name="GetHsaPersonResponse">
		<wsdl:part name="parameters" element="tjs:GetHsaPersonResponse" />
	</wsdl:message>

	<wsdl:portType name="HsaWsResponderInterface">
		<wsdl:operation name="HsawsSimpleLookup">
			<wsdl:input message="tns:HsawsSimpleLookupRequest" />
			<wsdl:output message="tns:HsawsSimpleLookupResponse" />
			<wsdl:fault name="fault" message="tns:HsaWsFault" />
		</wsdl:operation>
		<wsdl:operation name="GetHsaUnit">
			<wsdl:input message="tns:GetHsaUnitRequest" />
			<wsdl:output message="tns:GetHsaUnitResponse" />
			<wsdl:fault name="fault" message="tns:HsaWsFault" />
		</wsdl:operation>
		<wsdl:operation name="GetCareUnit">
			<wsdl:input message="tns:GetCareUnitRequest" />
			<wsdl:output message="tns:GetCareUnitResponse" />
			<wsdl:fault name="fault" message="tns:HsaWsFault" />
		</wsdl:operation>
		<wsdl:operation name="GetMiuForPerson">
			<wsdl:input message="tns:GetMiuForPersonRequest" />
			<wsdl:output message="tns:GetMiuForPersonResponse" />
			<wsdl:fault name="fault" message="tns:HsaWsFault" />
		</wsdl:operation>
		<wsdl:operation name="GetHospPerson">
			<wsdl:input message="tns:GetHospPersonRequest" />
			<wsdl:output message="tns:GetHospPersonResponse" />
			<wsdl:fault name="fault" message="tns:HsaWsFault" />
		</wsdl:operation>
		<wsdl:operation name="VpwGetPublicUnits">
			<wsdl:input message="tns:VpwGetPublicUnitsRequest" />
			<wsdl:output message="tns:VpwGetPublicUnitsResponse" />
			<wsdl:fault name="fault" message="tns:HsaWsFault" />
		</wsdl:operation>
		<wsdl:operation name="GetPriceUnitsForAuth">
			<wsdl:input message="tns:GetPriceUnitsForAuthRequest" />
			<wsdl:output message="tns:GetPriceUnitsForAuthResponse" />
			<wsdl:fault name="fault" message="tns:HsaWsFault" />
		</wsdl:operation>
		<wsdl:operation name="Ping">
			<wsdl:input message="tns:PingRequest" />
			<wsdl:output message="tns:PingResponse" />
			<wsdl:fault name="fault" message="tns:HsaWsFault" />
		</wsdl:operation>
		<wsdl:operation name="IsAuthorizedToSystem">
			<wsdl:input message="tns:IsAuthorizedToSystemRequest" />
			<wsdl:output message="tns:IsAuthorizedToSystemResponse" />
			<wsdl:fault name="fault" message="tns:HsaWsFault" />
		</wsdl:operation>
		<wsdl:operation name="GetInformationList">
			<wsdl:input message="tns:GetInformationListRequest" />
			<wsdl:output message="tns:GetInformationListResponse" />
			<wsdl:fault name="fault" message="tns:HsaWsFault" />
		</wsdl:operation>
		<wsdl:operation name="GetCareUnitList">
			<wsdl:input message="tns:GetCareUnitListRequest" />
			<wsdl:output message="tns:GetCareUnitListResponse" />
			<wsdl:fault name="fault" message="tns:HsaWsFault" />
		</wsdl:operation>
		<wsdl:operation name="GetCareUnitMembers">
			<wsdl:input message="tns:GetCareUnitMembersRequest" />
			<wsdl:output message="tns:GetCareUnitMembersResponse" />
			<wsdl:fault name="fault" message="tns:HsaWsFault" />
		</wsdl:operation>
		<wsdl:operation name="GetHsaPerson">
			<wsdl:input message="tns:GetHsaPersonRequest" />
			<wsdl:output message="tns:GetHsaPersonResponse" />
			<wsdl:fault name="fault" message="tns:HsaWsFault" />
		</wsdl:operation>
	</wsdl:portType>

	<wsdl:binding name="HsaWsResponderBinding" type="tns:HsaWsResponderInterface">
		<wsp:PolicyReference URI="#wsmtom_policy"
			wsdl:required="true" />
		<soap:binding style="document"
			transport="http://schemas.xmlsoap.org/soap/http" />
		<wsdl:operation name="HsawsSimpleLookup">
			<soap:operation soapAction="urn:riv:hsa:HsaWsResponder:2:hsawsSimpleLookup"
				style="document" />
			<wsdl:input>
				<soap:header message="tns:HsawsSimpleLookupRequest"
					part="LogicalAddress" use="literal" />
				<soap:header message="tns:HsawsSimpleLookupRequest"
					part="Id" use="literal" />
				<soap:body use="literal" parts="parameters" />
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal" />
			</wsdl:output>
			<wsdl:fault name="fault">
				<soap:fault name="fault" use="literal" />
			</wsdl:fault>
		</wsdl:operation>
		<wsdl:operation name="GetHsaUnit">
			<soap:operation soapAction="urn:riv:hsa:HsaWsResponder:2:getHsaUnit"
				style="document" />
			<wsdl:input>
				<soap:header use="literal" message="tns:GetHsaUnitRequest"
					part="LogicalAddress" />
				<soap:header use="literal" message="tns:GetHsaUnitRequest"
					part="Id" />
				<soap:body use="literal" parts="parameters" />
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal" />
			</wsdl:output>
			<wsdl:fault name="fault">
				<soap:fault use="literal" name="fault" />
			</wsdl:fault>
		</wsdl:operation>
		<wsdl:operation name="GetCareUnit">
			<soap:operation soapAction="urn:riv:hsa:HsaWsResponder:2:getCareUnit"
				style="document" />
			<wsdl:input>
				<soap:header use="literal" message="tns:GetCareUnitRequest"
					part="LogicalAddress" />
				<soap:header use="literal" message="tns:GetCareUnitRequest"
					part="Id" />
				<soap:body use="literal" parts="parameters" />
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal" />
			</wsdl:output>
			<wsdl:fault name="fault">
				<soap:fault use="literal" name="fault" />
			</wsdl:fault>
		</wsdl:operation>
		<wsdl:operation name="GetMiuForPerson">
			<soap:operation soapAction="urn:riv:hsa:HsaWsResponder:2:getMiuForPerson"
				style="document" />
			<wsdl:input>
				<soap:header use="literal" message="tns:GetMiuForPersonRequest"
					part="LogicalAddress" />
				<soap:header use="literal" message="tns:GetMiuForPersonRequest"
					part="Id" />
				<soap:body use="literal" parts="parameters" />
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal" />
			</wsdl:output>
			<wsdl:fault name="fault">
				<soap:fault use="literal" name="fault" />
			</wsdl:fault>
		</wsdl:operation>
		<wsdl:operation name="GetHospPerson">
			<soap:operation soapAction="urn:riv:hsa:HsaWsResponder:2:getHospPerson"
				style="document" />
			<wsdl:input>
				<soap:header use="literal" message="tns:GetHospPersonRequest"
					part="LogicalAddress" />
				<soap:header use="literal" message="tns:GetHospPersonRequest"
					part="Id" />
				<soap:body use="literal" parts="parameters" />
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal" />
			</wsdl:output>
			<wsdl:fault name="fault">
				<soap:fault use="literal" name="fault" />
			</wsdl:fault>
		</wsdl:operation>
		<wsdl:operation name="VpwGetPublicUnits">
			<soap:operation soapAction="urn:riv:hsa:HsaWsResponder:2:vpwGetPublicUnits"
				style="document" />
			<wsdl:input>
				<soap:header use="literal" message="tns:VpwGetPublicUnitsRequest"
					part="LogicalAddress" />
				<soap:header use="literal" message="tns:VpwGetPublicUnitsRequest"
					part="Id" />
				<soap:body use="literal" parts="parameters" />
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal" />
			</wsdl:output>
			<wsdl:fault name="fault">
				<soap:fault use="literal" name="fault" />
			</wsdl:fault>
		</wsdl:operation>
		<wsdl:operation name="GetPriceUnitsForAuth">
			<soap:operation soapAction="urn:riv:hsa:HsaWsResponder:2:getPriceUnitsForAuth"
				style="document" />
			<wsdl:input>
				<soap:header use="literal" message="tns:GetPriceUnitsForAuthRequest"
					part="LogicalAddress" />
				<soap:header use="literal" message="tns:GetPriceUnitsForAuthRequest"
					part="Id" />
				<soap:body use="literal" parts="parameters" />
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal" />
			</wsdl:output>
			<wsdl:fault name="fault">
				<soap:fault use="literal" name="fault" />
			</wsdl:fault>
		</wsdl:operation>
		<wsdl:operation name="Ping">
			<soap:operation soapAction="urn:riv:hsa:HsaWsResponder:2:ping"
				style="document" />
			<wsdl:input>
				<soap:header use="literal" message="tns:PingRequest"
					part="LogicalAddress" />
				<soap:header use="literal" message="tns:PingRequest"
					part="Id" />
				<soap:body use="literal" parts="parameters" />
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal" />
			</wsdl:output>
			<wsdl:fault name="fault">
				<soap:fault use="literal" name="fault" />
			</wsdl:fault>
		</wsdl:operation>
		<wsdl:operation name="IsAuthorizedToSystem">
			<soap:operation soapAction="urn:riv:hsa:HsaWsResponder:2:isAuthorizedToSystem"
				style="document" />
			<wsdl:input>
				<soap:header use="literal" message="tns:IsAuthorizedToSystemRequest"
					part="LogicalAddress" />
				<soap:header use="literal" message="tns:IsAuthorizedToSystemRequest"
					part="Id" />
				<soap:body use="literal" parts="parameters" />
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal" />
			</wsdl:output>
			<wsdl:fault name="fault">
				<soap:fault use="literal" name="fault" />
			</wsdl:fault>
		</wsdl:operation>
		<wsdl:operation name="GetInformationList">
			<soap:operation soapAction="urn:riv:hsa:HsaWsResponder:2:getInformationList"
				style="document" />
			<wsdl:input>
				<soap:header use="literal" message="tns:GetInformationListRequest"
					part="LogicalAddress" />
				<soap:header use="literal" message="tns:GetInformationListRequest"
					part="Id" />
				<soap:body use="literal" parts="parameters" />
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal" />
			</wsdl:output>
			<wsdl:fault name="fault">
				<soap:fault use="literal" name="fault" />
			</wsdl:fault>
		</wsdl:operation>
		<wsdl:operation name="GetCareUnitList">
			<soap:operation soapAction="urn:riv:hsa:HsaWsResponder:2:getCareUnitList"
				style="document" />
			<wsdl:input>
				<soap:header use="literal" message="tns:GetCareUnitListRequest"
					part="LogicalAddress" />
				<soap:header use="literal" message="tns:GetCareUnitListRequest"
					part="Id" />
				<soap:body use="literal" parts="parameters" />
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal" />
			</wsdl:output>
			<wsdl:fault name="fault">
				<soap:fault use="literal" name="fault" />
			</wsdl:fault>
		</wsdl:operation>
		<wsdl:operation name="GetCareUnitMembers">
			<soap:operation soapAction="urn:riv:hsa:HsaWsResponder:2:getCareUnitMembers"
				style="document" />
			<wsdl:input>
				<soap:header use="literal" message="tns:GetCareUnitMembersRequest"
					part="LogicalAddress" />
				<soap:header use="literal" message="tns:GetCareUnitMembersRequest"
					part="Id" />
				<soap:body use="literal" parts="parameters" />
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal" />
			</wsdl:output>
			<wsdl:fault name="fault">
				<soap:fault use="literal" name="fault" />
			</wsdl:fault>
		</wsdl:operation>
		<wsdl:operation name="GetHsaPerson">
			<soap:operation soapAction="urn:riv:hsa:HsaWsResponder:2:getHsaPerson"
				style="document" />
			<wsdl:input>
				<soap:header use="literal" message="tns:GetHsaPersonRequest"
					part="LogicalAddress" />
				<soap:header use="literal" message="tns:GetHsaPersonRequest"
					part="Id" />
				<soap:body use="literal" parts="parameters" />
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal" />
			</wsdl:output>
			<wsdl:fault name="fault">
				<soap:fault use="literal" name="fault" />
			</wsdl:fault>
		</wsdl:operation>

	</wsdl:binding>

	<wsdl:service name="HsaWsResponderService">
		<wsdl:port name="HsaWsResponderPort" binding="tns:HsaWsResponderBinding">
			<soap:address location="http://tempuri.org/" />
		</wsdl:port>
	</wsdl:service>

	<wsp:Policy
		xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd"
		wsu:Id="wsmtom_policy">
		<wsoma:OptimizedMimeSerialization
			xmlns:wsoma="http://schemas.xmlsoap.org/ws/2004/09/policy/optimizedmimeserialization" />
	</wsp:Policy>
</wsdl:definitions>
